@model IEnumerable<ProjetGestionEval.client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ABREVIATION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ABREVIATION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCLIENT }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCLIENT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCLIENT })
        </td>
    </tr>
}

</table>
