@model ProjetGestionEval.collaborateur

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<ul class="page-breadcrumb breadcrumb">
    <li>

        <a href="~/Home/Accueil">Acceuil</a>
        <i class="fa fa-circle"></i>
        <a href="~/Collaborateur/Index">Liste des Collaborateurs</a>
        <i class="fa fa-circle"></i>
        <a href="~/Collaborateur/Details/@Model.IDCOLLABORATEUR">Details</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>

<div class="row">
    <div class="col-md-12">


        <!-- BEGIN PROFILE SIDEBAR -->
        <!-- PORTLET MAIN -->
        <center>
            <div class="col-md-12">
                <div class="portlet light col-md-offset-2 col-md-6">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="data:image/png;base64,@Convert.ToBase64String(Model.IMAGE, 0,Model.IMAGE.Length)" class="img-responsive" />
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">

                        <div class="profile-usertitle-name">

                            @Html.DisplayFor(model => model.NOM)
                            @Html.DisplayFor(model => model.PRENOM)

                        </div>
                        <div class="profile-usertitle-job">
                            @Html.DisplayFor(model => model.aspnetusers.Email)
                        </div>

                        <div class="profile-usertitle-job">
                            @Html.DisplayFor(model => model.fonction.NOMFONCTION)
                        </div>
                        <div class="profile-usertitle-job">
                            @Html.DisplayFor(model => model.TYPECOLLABORATEUR)
                        </div>
                        <div class="profile-usertitle-job">
                            Embaucher le @Html.DisplayFor(modelItem => Model.DATEEMBAUCHE.Day)/@Html.DisplayFor(modelItem => Model.DATEEMBAUCHE.Month)/@Html.DisplayFor(modelItem => Model.DATEEMBAUCHE.Year)
                        </div>
                        <div class="profile-usertitle-job">
                            @{if(Model.DATESORTIE==null){
                             <div>   </div>
                              }else{
                                var xx = @Html.DisplayFor(model => model.DATESORTIE.Value.Day) + "/" + @Html.DisplayFor(model => model.DATESORTIE.Value.Month) + "/" + @Html.DisplayFor(model => model.DATESORTIE.Value.Year);
                                <div>Sortie le </div>@xx
                              }}

                        </div>
                        <div class="profile-usertitle-job">
                            @{ ;
                             if (ViewBag.Evaluateur == true)
                             {
                                <label>Collaborateur Evaluateur</label>
                             }
                             else
                             {<label>Collaborateur Non Evaluateur</label> }
                            }

                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    @{if (User.IsInRole("superuser"))
                      {
                    <div class="profile-userbuttons">

                        @Html.ActionLink("Modifier La photo", "EditImage","Collaborateur", new { id = Model.IDCOLLABORATEUR }, new { @class = "btn btn-circle green-haze btn-sm" })
                        @Html.ActionLink("Retour a la List", "Index", null, new { @class = "btn btn-circle btn-danger btn-sm" })

                    </div>}}
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                <!-- END STAT -->
            </div>
            <!-- END PORTLET MAIN -->

        </center>

    </div>
</div>