@model IEnumerable<ProjetGestionEval.collaborateur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRENOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLAGEVAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPECOLLABORATEUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEEMBAUCHE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATESORTIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aspnetusers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fonction.NOMFONCTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRENOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FLAGEVAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECOLLABORATEUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEEMBAUCHE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATESORTIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aspnetusers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fonction.NOMFONCTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCOLLABORATEUR }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCOLLABORATEUR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCOLLABORATEUR })
        </td>
    </tr>
}

</table>
