@model ProjetGestionEval.tache

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<ul class="page-breadcrumb breadcrumb">
    <li>

        <a href="~/Home/Accueil">Accueil</a>
        <i class="fa fa-circle"></i>
        <a href="~/Tache/Index">Liste des taches</a>
        <i class="fa fa-circle"></i>
        <a href="~/Tache/Create">Ajouter</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>
<div class="col-md-12">
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Tache
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>
                <a href="javascript:;" class="remove">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="Create" method="Post" id="form_sample_3" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        La tache a ete ajouter avec succes
                    </div>






                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.IDCLIENT, "IDCLIENT", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("IDCLIENT", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDCLIENT, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.NOMTACHE, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NOMTACHE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NOMTACHE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                       @{ if (User.IsInRole("superuser") || User.IsInRole("admin"))
                          { 
                        <div class="form-group">

                            <label class="control-label col-md-3">Réaliser Par</label>
                            <div class="col-md-4">

                                @Html.DropDownListFor(m => m.IDCOLLABORATEUR, ViewBag.Collaborateur as SelectList, "Selectionner les Collaborateurs", htmlAttributes: new { @Class = "bs-select form-control", required = "required" })

                            </div>

                        </div>
                          }
                          else
                          {
                            <div class="form-group">

                                <label class="control-label col-md-3">Réaliser Par</label>
                                <div class="col-md-4">
                                    <input type="text" name="NOMTACHE" value=@ViewBag.pr class="form-control" disabled="disabled" />
                                 @*@Html.EditorFor(model => model.NOMTACHE, new { htmlAttributes = new { @class = "form-control", @value = @ViewBag.pr, @disabled = "disabled" } })*@

                                </div>

                            </div>
                          }
}
                        <div class="form-group">
                            <label class="control-label col-md-3">Projet </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(Model => Model.IDPROJET, ViewBag.Projet as SelectList, "Selectionner le Projet", htmlAttributes: new { @Class = "bs-select form-control", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Date Debut Tache</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                    <input type="text" class="form-control" name="DATEDEBUTTACHE">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                                <span class="help-block">
                                    Select date
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Date Fin Tache</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                    <input type="text" class="form-control" name="DATEFINTACHE">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                                <span class="help-block">
                                    Select date
                                </span>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Sauvegarder</button>
                            @{if (User.IsInRole("superuser") || User.IsInRole("admin")){
                              
                              <a href="@Url.Action("Index")" class="btn default">Retour</a>
                              }
                              <a href="@Url.Action("IndexTa")" class="btn default">Retour</a>
                               }
                            
                            
                        </div>
                    </div>
                </div>

            </form>
            <!-- END FORM-->
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>