@model ProjetGestionEval.tache

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tache</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMTACHE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMTACHE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEDEBUTTACHE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEDEBUTTACHE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEFINTACHE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEFINTACHE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collaborateur.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collaborateur.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projet.NOMPROJET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projet.NOMPROJET)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTACHE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
