@model ProjetGestionEval.tache

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<ul class="page-breadcrumb breadcrumb">
    <li>


        <a href="~/Home/Accueil">Accueil</a>
        <i class="fa fa-circle"></i>
        <a href="~/tache/Index">Liste des Collaborateur Titulaires</a>
        <i class="fa fa-circle"></i>
        <a href="~/tache/Details/@Model.IDTACHE">Details</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>

<div class="row">
    <div class="col-md-12">


        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-note font-blue"></i>
                        <span class="caption-helper">les informations de la tache </span><span class="caption-subject font-blue-madison bold uppercase">@Model.NOMTACHE</span>
                    </div>

                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IDCOLLABORATEUR)


                            <div class="form-group">
                                @Html.LabelFor(model => model.NOMTACHE, "Tache", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.EditorFor(model => model.NOMTACHE, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDCOLLABORATEUR, "Réaliser par", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @{bd_gestionEntities bd = new bd_gestionEntities();
                                        var c = Model.IDCOLLABORATEUR;
                                        var x = bd.collaborateur.Single(m => m.IDCOLLABORATEUR == c).NOM;
                                        }
                                        @Html.EditorFor(model => x, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.IDPROJET, "Projet", htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-4">
                                    @{
                                        var w = Model.IDPROJET;
                                        var z = bd.projet.Single(m => m.IDPROJET == w).NOMPROJET;
                                    }
                                    @Html.EditorFor(model => z, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })


                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.DATEDEBUTTACHE, "Date Debut", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-4  ">
                                    @{var xy = ViewBag.datedebut; }
                                    @Html.EditorFor(model => xy, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DATEFINTACHE, "Date Fin", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        @{var xx = ViewBag.datefin; }
                                        @Html.EditorFor(model => xx, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                    }




                    <div class="col-md-offset-3">
                        @Html.ActionLink("Edit", "Edit", null, new { id = Model.IDTACHE }, htmlAttributes: new { @class = "btn green" })
                        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>