@model ProjetGestionEval.evaluation

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
}
@{bd_gestionEntities db = new bd_gestionEntities();}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Evaluation<span class="step-title">
                        Step 1 of 4
                    </span>
                </div>
                <div class="tools hidden-xs">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number">
                                            1
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Tache
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number">
                                            2
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>Critère
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number">
                                            3
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Variable
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number">
                                            4
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Appreciation global
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success">
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>
                                <div class="tab-pane active" id="tab1">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Taches: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <div class="form-control height-auto">
                                                <div class="scroller" style="height:275px;" data-always-visible="1">
                                                    @{
                                                        int x = 0;
                                                        if (ViewBag.id != null)
                                                        {
                                                            x = ViewBag.id;
                                                            var bb = db.tache.Where(m => m.IDCOLLABORATEUR == x).ToList();
                                                            int i = 0;

                                                            foreach (var item in bb)
                                                            {
                                                                string c = i.ToString();

                                                                <div class="form-group">
                                                                    @Html.LabelFor(modelItem => item.NOMTACHE, item.NOMTACHE, new { @class = "control-label col-md-2" })
                                                                    <div class="md-radio-inline ">
                                                                        <div class="md-radio col-md-offset-2">
                                                                            @{
                                                                string cx = "radio6" + c;
                                                                    @Html.RadioButtonFor(modelItem => item.NoteTache[i], "A", new { @id = @cx, @class = "md-radiobtn", @value = "A" })
                                                                                <label for=@cx>
                                                                                    <span></span>
                                                                                    <span class="check"></span>
                                                                                    <span class="box"></span>
                                                                                    A
                                                                                </label>
                                                                            }
                                                                        </div>
                                                                        <div class="md-radio">
                                                                            @{
                                                                string cx1 = "radio7" + c;
                                                                @Html.RadioButtonFor(modelItem => item.NoteTache[i], "B", new { @id = @cx1, @class = "md-radiobtn", @value = "B" })
                                                                                <label for=@cx1>
                                                                                    <span></span>
                                                                                    <span class="check"></span>
                                                                                    <span class="box"></span>
                                                                                    B
                                                                                </label>
                                                                            }
                                                                        </div>
                                                                        <div class="md-radio">
                                                                            @{
                                                                string cx2 = "radio8" + c;
                                                                @Html.RadioButtonFor(modelItem => item.NoteTache[i], "C", new { @id = @cx2, @class = "md-radiobtn", @value = "C", @checked = "checked" })
                                                                                @*<input type="radio" id="radio8" name=@item.NoteTache class="md-radiobtn">*@

                                                                                <label for=@cx2>
                                                                                    <span></span>
                                                                                    <span class="check"></span>
                                                                                    <span class="box"></span>
                                                                                    C
                                                                                </label>
                                                                            }
                                                                        </div>
                                                                        <div class="md-radio">
                                                                            @{string cx3 = "radio9" + c;
                                                                            @Html.RadioButtonFor(modelItem => item.NoteTache[i], "D", new { @id = @cx3, @class = "md-radiobtn", @value = "D" })
                                                                                @*<input type="radio" id="radio9" name=@item.NoteTache class="md-radiobtn">*@

                                                                                <label for=@cx3>
                                                                                    <span></span>
                                                                                    <span class="check"></span>
                                                                                    <span class="box"></span>
                                                                                    D
                                                                                </label>}
                                                                        </div>
                                                                        <div class="md-radio">
                                                                            @{string cx4 = "radio10" + c;
                                                                            @Html.RadioButtonFor(modelItem => item.NoteTache[i], "E", new { @id = @cx4, @class = "md-radiobtn", @value = "E" })
                                                                                @*<input type="radio" id="radio10" name=@item.NoteTache class="md-radiobtn">*@

                                                                                <label for=@cx4>
                                                                                    <span></span>
                                                                                    <span class="check"></span>
                                                                                    <span class="box"></span>
                                                                                    E
                                                                                </label>}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                            ++i;
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                   
                                </div>



                                                <div class="tab-pane" id="tab2">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">
                                                            Categories: <span class="required">
                                                                *
                                                            </span>
                                                        </label>
                                                        @{
                                                            int r = 0;
                                                            var fax = db.famillecritere.ToList();
                                                            <div class="col-md-10">
                                                                <div class="form-control height-auto">
                                                                    <div class="scroller" style="height:275px;" data-always-visible="1">

                                                                        @foreach (var it in fax)
                                                                        {

                                                                            <ul>
                                                                                <li>
                                                                                    @Html.LabelFor(modelItem => it.NOMFAMILLECRITERE, it.NOMFAMILLECRITERE)

                                                                                    @{var fat = db.critere.Where(m => m.IDFAMILLECRITERE == it.IDFAMILLECRITERE); }
                                                                                    @foreach (var item in fat)
                                                                                    {
                                                                                        string t = r.ToString();
                                                                                        <ul>
                                                                                            <li>
                                                                                                <div class="md-radio-inline">
                                                                                                    @Html.LabelFor(modelItem => item.NOMCRITERE, item.NOMCRITERE, new { @class = "col-md-5" })
                                                                                                    <div class="md-radio">
                                                                                                        @{string cx3 = "radio11" + t;
                                                                                                        @Html.RadioButtonFor(modelItem => item.NoteCritere[r], "A", new { @id = @cx3, @class = "md-radiobtn" })
                                                                                                            <label for=@cx3>
                                                                                                                <span></span>
                                                                                                                <span class="check"></span>
                                                                                                                <span class="box"></span>
                                                                                                                A
                                                                                                            </label>
                                                                                                        }
                                                                                                    </div>


                                                                                                    <div class="md-radio">
                                                                                                        @{string cx2 = "radio12" + t;
                                                                                                        @Html.RadioButtonFor(modelItem => item.NoteCritere[r], "B", new { @id = @cx2, @class = "md-radiobtn" })
                                                                                                            <label for=@cx2>
                                                                                                                <span></span>
                                                                                                                <span class="check"></span>
                                                                                                                <span class="box"></span>
                                                                                                                B
                                                                                                            </label>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="md-radio">
                                                                                                        @{string cx1 = "radio13" + t;
                                                                                                        @Html.RadioButtonFor(modelItem => item.NoteCritere[r], "C", new { @id = @cx1, @class = "md-radiobtn", @checked = "checked" })
                                                                                                            <label for=@cx1>
                                                                                                                <span></span>
                                                                                                                <span class="check"></span>
                                                                                                                <span class="box"></span>
                                                                                                                C
                                                                                                            </label>
                                                                                                        }
                                                                                                    </div>

                                                                                                    <div class="md-radio">
                                                                                                        @{string cx4 = "radio14" + t;
                                                                                                        @Html.RadioButtonFor(modelItem => item.NoteCritere[r], "D", new { @id = @cx4, @class = "md-radiobtn" })
                                                                                                            <label for=@cx4>
                                                                                                                <span></span>
                                                                                                                <span class="check"></span>
                                                                                                                <span class="box"></span>
                                                                                                                D
                                                                                                            </label>
                                                                                                        }
                                                                                                    </div>

                                                                                                    <div class="md-radio">
                                                                                                        @{string cx5 = "radio14" + t;
                                                                                                        @Html.RadioButtonFor(modelItem => item.NoteCritere[r], "E", new { @id = @cx5, @class = "md-radiobtn" })
                                                                                                            <label for=@cx5>
                                                                                                                <span></span>
                                                                                                                <span class="check"></span>
                                                                                                                <span class="box"></span>
                                                                                                                E
                                                                                                            </label>
                                                                                                        }
                                                                                                    </div>

                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                                        r++;
                                                                                    }
                                                                                    <br />
                                                                                </li>
                                                                            </ul>

                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="tab3">
                                                    <h3 class="block">Appreciation global</h3>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.APPRECIATION, "Appreciation global:", new { @class = "control-label col-md-3" })
                                                        <div class="md-radio-inline ">
                                                            <div class="md-radio has-error col-md-offset-1">
                                                                

                                                                    @Html.RadioButtonFor(m => m.APPRECIATION, "A", new { @id = "1", @class = "md-radiobtn" })
                                                                    <label for="1">
                                                                        <span></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span>
                                                                        A
                                                                    </label>

                                                                </div>
                                                            <div class="md-radio has-error">

                                                                @Html.RadioButtonFor(m => m.APPRECIATION, "B", new { @id = "2", @class = "md-radiobtn" })
                                                                <label for="2">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    B
                                                                </label>

                                                            </div>
                                                            <div class="md-radio has-error">

                                                                @Html.RadioButtonFor(m => m.APPRECIATION, "C", new { @id = "3", @class = "md-radiobtn", @checked = "checked" })
                                                                @*<input type="radio" id="radio8" name=@item.NoteTache class="md-radiobtn">*@

                                                                <label for="3">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    C
                                                                </label>

                                                            </div>
                                                            <div class="md-radio has-error">

                                                                @Html.RadioButtonFor(m => m.APPRECIATION, "D", new { @id = "4", @class = "md-radiobtn" })
                                                                @*<input type="radio" id="radio9" name=@item.NoteTache class="md-radiobtn">*@

                                                                <label for="4">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    D
                                                                </label>
                                                            </div>
                                                            <div class="md-radio has-error">

                                                                @Html.RadioButtonFor(m => m.APPRECIATION, "E", new { @id = "5", @class = "md-radiobtn" })
                                                                @*<input type="radio" id="radio10" name=@item.NoteTache class="md-radiobtn">*@

                                                                <label for="5">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    E
                                                                </label>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    @{
                                                        var pe = db.collaborateur.Single(m => m.IDCOLLABORATEUR == x);
                                                        if (pe.TYPECOLLABORATEUR == "P.E") { 
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.STATUT, "Statut:", new { @class = "control-label col-md-3" })
                                                        <div class="md-radio-list">
                                                            <div class="md-radio col-md-offset-4">

                                                                @Html.RadioButtonFor(m => m.STATUT, "fin engagement", new { @id = "10", @class = "md-radiobtn", @checked = "checked" })
                                                                <label for="10">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Fin d'engagement
                                                                </label>

                                                            </div>
                                                            <div class="md-radio col-md-offset-4">

                                                                @Html.RadioButtonFor(m => m.STATUT, "prolonger", new { @id = "20", @class = "md-radiobtn" })
                                                                <label for="20">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Prolonger
                                                                </label>

                                                            </div>
                                                            <div class="md-radio col-md-offset-4">

                                                                @Html.RadioButtonFor(m => m.STATUT, "titulaire", new { @id = "30", @class = "md-radiobtn" })
                                                                @*<input type="radio" id="radio8" name=@item.NoteTache class="md-radiobtn">*@

                                                                <label for="30">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Titulaire
                                                                </label>

                                                            </div>


                                                        </div>
                                                        
                                                    </div>
                                                    }}
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Remarque:</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" rows="3" name="Memo"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab4">
                                                    <h3 class="block">Confirm your account</h3>
                                                    <h4 class="form-section">Account</h4>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Username:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="username">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Email:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="email">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <h4 class="form-section">Profile</h4>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Fullname:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="fullname">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Gender:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="gender">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Phone:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="phone">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Address:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="address">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">City/Town:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="city">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Country:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="country">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Remarks:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="remarks">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <h4 class="form-section">Billing</h4>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Card Holder Name:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="card_name">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Card Number:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="card_number">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">CVC:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="card_cvc">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Expiration:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="card_expiry_date">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Payment Options:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="payment">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <a href="javascript:;" class="btn default button-previous">
                                                        <i class="m-icon-swapleft"></i> Back
                                                    </a>
                                                    <a href="javascript:;" class="btn blue button-next">
                                                        Continue <i class="m-icon-swapright m-icon-white"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn green button-submit">
                                                        Submit <i class="m-icon-swapright m-icon-white"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
</form>
            </div>
        </div>
    </div>
</div>