@model ProjetGestionEval.fonction

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}
<ul class="page-breadcrumb breadcrumb">
    <li>

        <a href="~/Home/Accueil">Accueil</a>
        <i class="fa fa-circle"></i>
        <a href="~/Fonction/Index">Liste des fonctions</a>
        <i class="fa fa-circle"></i>
        <a href="~/Fonction/Delete/@Model.IDFONCTION">Supprimer</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>
<div class="row">
    <div class="col-md-12">



        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-red-sunglo"></i>

                   
                    <span class="caption-subject font-red-sunglo bold uppercase">Êtes-vous sûr de vouloir supprimer cette fonction?</span>
                </div>

            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
            @using (Html.BeginForm("Delete", "Fonction", FormMethod.Post, new { htmlAttributes = new { @class = "form-horizontal"} }))
                            {
    @Html.AntiForgeryToken()

                    <div class="form-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.NOMFONCTION, "Nom de la fonction", htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NOMFONCTION, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            </div>
                            @Html.ValidationMessageFor(model => model.NOMFONCTION, "", new { @class = "text-danger" })
                        </div>
                     <br />
                        <br />
                        <br />
                    </div>
                    <div class="form-actions">
                        <div class="row">
                         
                                <div class="col-md-offset-3 col-md-9">
                                    <div class="no-color">
                                        <input type="submit" value="Supprimer" class="btn red-haze" />@Html.ActionLink("Retour", "Index", null, new { @class = "btn default" })

                                    </div>
                                </div>
                            
                        </div>
                    </div>
            }
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>



