@model IEnumerable<ProjetGestionEval.fonction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMFONCTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMFONCTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDFONCTION }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDFONCTION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDFONCTION })
        </td>
    </tr>
}

</table>
